<app-header></app-header>

<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark"> -->
    <!-- <a href="#" class="navbar-brand">BanCarlos</a> -->
    <!-- <h1>
      Welcome to BanCarlos
    </h1>
    <div class="navbar-nav mr-auto">
      <li (click)="Nuevo()" class="nav-item">
        <a routerLink="add" class="nav-link" style="margin-left: 30px;" >New User</a>
      </li>
      <li (click)="Listar()" class="nav-item">
        <a routerLink="listar" class="nav-link" style="margin-left: 30px;">Users</a>
      </li>
    </div>
    <span class="navbar-expand">welcome to {{title}}</span>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <footer class="text-center footer-style">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col">
              <h3>Dirección</h3>
              <p>
                  CABA - Argentina <br />
                  carrasco 400
              </p>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Mis redes</h3>
              <ul class="list-inline">
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Trabajo FreeLancer</h3>
              <p>Tengo más de X años de experiencia en maquetación web y me apasiona lo que hago!</p>
          </div>
      </div>
  </div>
</footer> -->
