<body  class="js-fullheight" >

<div style="padding-bottom: 600px;">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <!-- <a href="#" class="navbar-brand">BanCarlos</a> -->
      <h1>
        Welcome to BanCarlos
      </h1>
      
      <div  class="navbar-nav mr-auto">
        
        <li (click)="Registrar()" class="nav-item">
          <a routerLink="registrar" class="nav-link" style="margin-left: 30px;">Sign up</a>
      </li>
        
        
        <!-- <li (click)="Logout()" class="nav-item">
          <a class="nav-link" style="margin-left: 200px;">Logout</a>
        </li> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div *ngIf="isLogged" class="container-fluid">
                <span class="navbar-expand">Usuario conectado: {{globalService.user.userName}}</span>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <!-- <li (click)="Login()" class="nav-item">
                  <a routerLink="/" class="nav-link" style="margin-left: 600px;">Login</a>
                </li> -->
                <span class="navbar-expand">Usuario conectado: {{globalService.user.userName}}</span>

                <li (click)="Nuevo()" class="nav-item">
                  <a routerLink="add" class="nav-link" style="margin-left: 600px;" >New Client</a>
                </li>
                <li (click)="Listar()" class="nav-item">
                  <a routerLink="listar" class="nav-link" style="margin-left: 30px;">Clients</a>
                </li>
                <!-- <li (click)="Registrar()" class="nav-item">
                  <a routerLink="registrar" class="nav-link" style="margin-left: 30px;">Sign up</a>
              </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{globalService.user.userName}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink= "editarUser" href="" >Edit User</a></li>
                    <li><a class="dropdown-item" routerLink= "editPassword" href="">Change password</a></li>
                    <li><a (click)="Logout()"class="dropdown-item" href="">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </nav>

    <!-- <div class="container mt-3">
      <router-outlet></router-outlet>
    </div> -->
    <div *ngIf="isLogged || regis; else isNotLogged" >
      <router-outlet></router-outlet>    
      <!-- <app-listar-client></app-listar-client> -->
    </div>
    <ng-template #isNotLogged>
      <app-login (login)="authenticated($event)" (registro)="register($event)"></app-login>
    </ng-template>
  </div>
</body>
