<div style="display: flex; justify-content: center;">
    <div>
        <h2>Inicio de sesión</h2>
    
        <div style="margin-top: 30px;">
            <form class="example-form" [formGroup]="form">
                <div>
                    <input type="text" formControlName="userName" matInput placeholder="Nombre de usuario">
                </div>
                <br>
                <div>
                    <input type="password" formControlName="password" matInput placeholder="Contraseña">
                </div>
                <br>
                <button mat-raised-button color="primary" (click)="signIn()">Entrar</button>
                
            </form>
        </div>

    
    </div>
</div>