<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Clients</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID KIND</th>
                        <th>IDENTIFICATION</th>
                        <th>NAME</th>
                        <th>LAST NAME</th>
                        <th>EMAIL</th>
                        <th>BIRTHDAY</th>
                        <th>CREATION DATE</th>
                        <!-- <th>STATE</th> -->
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let client of clients" class="text-center">
                        <td>{{client.id}}</td>
                        <td>{{client.tipoId}}</td>
                        <td>{{client.identificacion}}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.apellido}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.fecha_nac}}</td>
                        <td>{{client.fecha_crea}}</td>
                        <!-- <td>{{client.estado}}</td> -->
                        <td>
                            <button (click)="Editar(client.id)" class="btn btn-warning" style="background-color:rgb(212, 187, 46)">Edit</button>
                            <button (click)="Delete(client)" class="btn btn-danger" style="margin: 10px; background-color:rgb(182, 104, 104)">Delete</button>
                            <button (click)="Cuentas(client.id)" class="btn btn-dark" routerLink="/listarCuentas" style="margin-left: 10 px; background-color:rgb(71, 71, 71)">Accounts</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>