<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Accounts</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CREATION DATE</th>
                        <th>STATE</th>
                        <th>ACCOUNT TYPE</th>
                        <th>AMMOUNT</th>
                        <th>USER ID</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let cuenta of cuentas" class="text-center">
                        <td>{{cuenta.id}}</td>
                        <td>{{cuenta.fecha_crea}}</td>
                        <td>{{cuenta.estado}}</td>
                        <td>{{cuenta.tipo_cuenta}}</td>
                        <td>${{cuenta.saldo}}</td>
                        <td>{{cuenta.id_usuario}}</td>
                        <td>
                                <button (click)="inactive(cuenta, cuenta.id)" class="btn btn-outline-warning">activate/Inactivate</button>
                                <button (click)="Delete(cuenta)" class="btn btn-outline-danger" style="margin: 5px;">Delete</button>
                                <button (click)="Operaciones(cuenta.id)" class="btn btn-outline-primary" style="margin: 5px;">Operations</button>
                                <button (click)="Retirar(cuenta.id) " class="btn btn-outline-dark"  style="margin-left: 5px;">Withdraw</button>
                                <button (click)="Consignar(cuenta.id)" class="btn btn-outline-dark" style="margin: 5px;">Deposit</button>
                                <button (click)='Transfer(cuenta.id)' class="btn btn-outline-dark" style="margin: 5px;">Transfer</button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)="Return()" class="btn btn-info">Return</button>
        </div>
        <button routerLink="" (click)="Ncuenta()" class="btn btn-dark" style="margin: 10px;">Add new account</button>
    </div>
</div>